/.quarto/
save.yml
/pdfs/
/slides/
/appendix_files/
/index_files/
/_book/
/*_files/
/figs/*.aux
/figs/*.fdb_latexmk
/figs/*.fls
/figs/*.log
/figs/missfont.log
/figs/*.pdf
/figs/*.dvi
/figs/*.snm
/figs/*.out
/figs/*.toc
/figs/*.nav
*.bak
*.swp
figs/*:Zone.Identifier
